<div class="box-section float-image-section triggerAnimation animated fadeIn" data-animate="fadeIn">
	<h2>Upcoming Events/News</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="image-box">
				<%= image_tag('ServiceWeek2014.jpg') %>
			</div>
		</div>
		<div class="col-md-12">
			<p>&nbsp;</p><p>&nbsp;</p>
			<hr>
		</div>
		<div class="col-md-12">
			<p>&nbsp;</p><p>&nbsp;</p>
		</div>
		<div class="col-md-5">
			<div class="image-box">
				<%= image_tag('graham.jpg') %>
			</div>
		</div>
		<div class="col-md-7">
			<div class="cont-box">
				<h2>Graham's upcoming visit to Chennai</h2>
				<br><br>
				<p>
				Graham McLaughlin, is visiting India between 11'th March 2014 to 14'th March 2014. Community Impact India Team has planned for series of Impact events during Graham’s visit. Please check out this section in coming days for more details on the events. 
				</p>

				<p>Graham is the Director of Community Impact, The Advisory Board Company(from September 2007 – Present ). He leads the Corporate Social Responsibility program at The Advisory Board Company, a publicly traded professional services firm focused in the healthcare and higher education sectors.</p>

				<p>
				2013 program highlights included 100% employee participation in service (~2700 employees); stories on our work in Forbes, Washington Post, Huffington Post, GOOD, National Journal, CSR Wire, and other national and regional publications; launching a social innovation challenge within our firm; and delivering over 70 pro bono projects with a focus on improving public health and educational outcomes.
				</p>					
			</div>
		</div>
	</div>
</div>