<div class="triggerAnimation animated fadeIn" data-animate="fadeIn">
	
		<div class="box-section toggle-section">
			<h1>Frequently Asked Questions</h1>
			<div class="accordion-box">

				<div class="accord-elem">
					<div class="accord-title">
						<h3>What is Community Impact?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="display: none;">
						<p>Community Impact is making meaningful changes to the community that needs attention, care and love.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>What is the goal?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>The goal is to make a Change. Change happens when service oriented individuals from different backgrounds unite and work together to empower the struggling communities to thrive. We want to bring that change and we want to see smile in their faces. </p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>What does the ABCO CI team do?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p> This is a volunteer team which provides time and effort for someone who is in need of help. Some activities of ABCO IT team are but not limited to <br> <br>
							- Support elderly and orphaned kids.<br>
							- Tutoring in school (Quiz contest, Drawing competition).<br>
							- Beautify the environment (coastal cleanup, tree plantation).
						</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>How to Help?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p> There are two ways you can help <br> <br>
							- Physically - Engage physically in the community Impact team activities during week days and in weekends.<br> 
							- Financially - you can make In-Kind donation for CI team activities.
						</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Who do I contact for Financial contribution?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Santhosh Vidyasekaran, Test Engineer (Email : VidyaseS@advisory.com)</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>How to get involved in any activity organized by CI?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Look out for the upcoming events in (Mention the section name of the application) and let know the event's POC in person/Skype/Email. The POC will guide you from there.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>What is the takeaway?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>- Self-satisfaction: The biggest benefit people get from volunteering and service is the satisfaction of incorporating service into their lives, and making a difference in their community and country. <br>
						- You get a chance to empower yourself and discover your potentials.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Will my contribution for CI team be counted during performance review process?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>No, It will not be included in performance review process. Community Impact services are voluntary programs which aims to bring change to the community we live in.</p>
					</div>
				</div>
				
				<hr/>

				<h1>Community Impact Hours Tracking</h1>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>What is Community Impact Volunteer Tracking?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Community Impact recognizes employees for their volunteer work with nonprofit organizations. For recording purpose any time spent volunteering for a non-profit or population in need should be tracked towards your Community Impact hours.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Can I log hours spent for a volunteer activity not organized by the firm or my Community Impact Lead?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Yes. Community Impact encourages employees to not only volunteer at team and firm-wide sponsored events, but also with individual-driven community service projects.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Does travel time count toward volunteer hours?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Time spent traveling to and from service events does not count toward Community Impact hours. Volunteer time begins when you arrive onsite and ends when you leave the event.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>How many hours can you count for fundraisers?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>For fundraisers, including charitable walks, runs, and marathons, the time spent planning, promoting, and fundraising may be applied to your Community Impact hours. Additionally, the actual time spent at the event (time spent walking, running, staffing, etc.) may also be applied to Community Impact hours.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Can I track the hours I spend training for a charitable walk or run (i.e. Team in Training)?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Hours cannot be tracked for the time spent training (i.e. physical workouts, time spent at the gym, etc.) for a charity marathon, walk, or run.</p>
					</div>
				</div>

				<div class="accord-elem">
					<div class="accord-title">
						<h3>Is time spent in all charitable/nonprofit organization recognized? Is there any exemption?</h3>
						<a class="accord-link" href="##"></a>
					</div>
					<div class="accord-content" style="">
						<p>Regardless of charitable/nonprofit status, the following types of organizations are not eligible for volunteer time tracking:<br><br>
						- Religious organizations for religious purposes.<br>
						- Organizations that discriminate on the basis of race, color, creed, gender, religion, age, national origin, or sexual orientation.<br>
						- Political organizations.<br>
						- Labor organizations.<br>
						- Fraternal organizations for the purposes of alumni and recruitment purposes.
					</p>
					</div>
				</div>
			</div>

			<div class="clearfix">
				<a class="go-top" href="##"><i class="fa fa-angle-up"></i></a>
			</div>
		</div>
</div>
